#dataInput,#homeHead, #sundialHead, #instructions, #homeCol{
	background-color:#C0C0C0;
	border:2px solid;
	border-radius:6px;
}

#begin{
	background-color:#C0C0C0;
	border:2px solid;
	border-radius:6px;
	text-align:center;
}


#homeHead h1, #sundial h1{
	text-align:center
}
.container-fluid{
	background-color:#FFFFFF;
}
#columns{
	background-color:#C0C0C0;
	border:2px solid;
	-webkit-column-gap:40px;	
}
html body
{
	background-color: #000000;
	background-image:url('http://i206.photobucket.com/albums/bb95/o0ukjay0o/wallpaper-	starlitnigcccht1600.jpg');
	background-repeat:no-repeat;
 	background-size: 100% auto;
	background-position:center; 
}

